<template>
<div id="app">
  <div v-if="!listHidden">
<div class="row justify-content-center">
<div class="container">
<br />
  <button @click="onAddItem" class="btn btn-primary">
  Add Item
  </button>
  <!--Name <input v-model="name" />
  Description <input v-model="description" />
  Release Year <input v-model="releaseyear" /> -->
</div></div>
<br /> 
<div style="padding:10px;">
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Description</th>
        <th>Release Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr :key="index" v-for="(item, index) in listData">
        <td>{{index}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.releaseyear}}</td>
        <td> 
        <button @click="onEditItem" class="btn btn-primary">
Edit
  </button>
  <button @click="onCopyItem" class="btn btn-default">
Copy
  </button>
        <button @click="onDeleteItem" class="btn btn-danger">
Delete
  </button></td>
      </tr>
    </tbody>
  </table>
  </div>
  <br />

  
  </div>  
</div>
</template>
<!--
<template id="add-product">
  <h2>Add new product</h2>
  <form v-on:submit="createProduct">
    <div class="form-group">
      <label for="add-name">Name</label>
      <input class="form-control" id="add-name" v-model="product.name" required/>
    </div>
    <div class="form-group">
      <label for="add-description">Description</label>
      <textarea class="form-control" id="add-description" rows="10" v-model="product.description"></textarea>
    </div>
    <div class="form-group">
      <label for="add-price">Price, <span class="glyphicon glyphicon-euro"></span></label>
      <input type="number" class="form-control" id="add-price" v-model="product.price"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a v-link="'/'" class="btn btn-default">Cancel</a>
  </form>
</template>

<template id="product">
  <h2>{{ product.name }}</h2>
  <b>Description: </b>
  <div>{{ product.description }}</div>
  <b>Price:</b>
  <div>{{ product.price }}<span class="glyphicon glyphicon-euro"></span></div>
  <br/>
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <a v-link="'/'">Backt to product list</a>
</template>

<template id="product-edit">
  <h2>Edit product</h2>
  <form v-on:submit="updateProduct">
    <div class="form-group">
      <label for="edit-name">Name</label>
      <input class="form-control" id="edit-name" v-model="product.name" required/>
    </div>
    <div class="form-group">
      <label for="edit-description">Description</label>
      <textarea class="form-control" id="edit-description" rows="3" v-model="product.description"></textarea>
    </div>
    <div class="form-group">
      <label for="edit-price">Price, <span class="glyphicon glyphicon-euro"></span></label>
      <input type="number" class="form-control" id="edit-price" v-model="product.price"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a v-link="'/'" class="btn btn-default">Cancel</a>
  </form>
</template>

<template id="product-delete">
  <h2>Delete product {{ product.name }}</h2>
  <form v-on:submit="deleteProduct">
    <p>The action cannot be undone.</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a v-link="'/'" class="btn btn-default">Cancel</a>
  </form>
</template>
-->
<script>

export default {
  name: 'App',
  data() {
  	return {
    	message: 'Hello Vue.js!',
      name: '',
      listData: [
      ],
      listHidden: false
    }
  },
  methods: {
  	onAddItem() {
    	this.listData.push({
      	name: this.name,
        description: this.description,
        releaseyear: this.releaseyear
      });
      //this.listHidden = true;
    },
    	onDeleteItem(idx) {
    	this.listData.splice({idx});
     //this.listHidden = true;
    }
  },
  mounted() {
  	// axios

    // Use to call Web API to get data
    //    this.axios.get('http://localhost:4000/movies').then(res => {
    //      this.tableData = res.data

    this.listData = [{
        index: '1',
    		name: 'My Movie',
        description: 'Movie Description',
        releaseyear: 2000
      }, {
        index: '2',
				name: 'My Movie 2',
        description: 'Movie Description',
        releaseyear: 2001
      }, {
        index: '3',
				name: 'My Movie 3',
        description: 'Movie Description',
        releaseyear: 2002
      }
  	];
	}
}
</script>

<style>

</style>
