<template>
<div id="app">
  <div v-if="!listHidden">
<div class="row justify-content-center">
<div class="container">
<br />
 <button @click="onAddItem" class="btn btn-primary">
 <!--   <button @click="showModal" class="btn btn-primary"> -->
  Add Item
  </button>
  <!--Name <input v-model="name" />
  Description <input v-model="description" />
  Release Year <input v-model="releaseyear" /> -->
</div></div>
<br /> 
<div style="padding:10px;">
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Release Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr :key="index" v-for="(item, index) in listData">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.releaseyear}}</td>
        <td> 
        <button @click="onEditItem" class="btn btn-primary">
Edit
  </button>&nbsp;
  <button @click="onCopyItem" class="btn btn-primary">
Copy
  </button>&nbsp;
        <button @click="onDeleteItem" class="btn btn-danger">
Delete
  </button></td>
      </tr>
    </tbody>
  </table>

    <Modal
      v-show="isModalVisible"
      @close="closeModal"
    />
  </div>
  <br />
  
  </div>  
</div>

<!--  <div v-else>
  </div> -->
</template>

<script type="x/template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-container" @click.stop>
                <div class="modal-header">
                    <h3>New Post</h3>
                </div>
                <div class="modal-body">
                  Name <input v-model="name" />
                  Description <input v-model="description" />
                  Release Year <input v-model="releaseyear" /> 
                    <label class="form-label">
                        Title
                        <input class="form-control">
                    </label>
                    <label class="form-label">
                        Body
                        <textarea rows="5" class="form-control"></textarea>
                    </label>
                </div>
                <div class="modal-footer text-right">
                    <button class="modal-default-button" @click="saveMovie()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </transition>
</script>

<script>
//import modal from 'Modal.vue';

export default {
  name: 'App',
  data() {
      showModal: false
    	return {
    	message: 'Hello Vue.js!',
      name: '',
      listData: [
      ],
      listHidden: false
    }
  },
  
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal(){
     this.isModalVisible = false;
    },
  	onAddItem() {

    	this.listData.push({
        id: this.id,
      	name: this.name,
        description: this.description,
        releaseyear: this.releaseyear
      });
      //this.listHidden = true;
    },
    	onDeleteItem(index) {
      //this.counter--;
      this.listData.splice(index, 1);      
   }

    	//this.listData.splice({this.listData.indexOf(event), 1});
     //this.listHidden = true;
    //}
  },
  mounted() {
  	// axios

    // Use to call Web API to get data
    //    this.axios.get('http://localhost:4000/movies').then(res => {
    //      this.tableData = res.data

    this.listData = [{
        id: '1',
    		name: 'My Movie',
        description: 'Movie Description',
        releaseyear: 2000
      }, {
        id: '2',
				name: 'My Movie 2',
        description: 'Movie Description',
        releaseyear: 2001
      }, {
        id: '3',
				name: 'My Movie 3',
        description: 'Movie Description',
        releaseyear: 2002
      }
  	];
	}
}

//Vue.component('modal', {
//  template: '#modal-template',
//  props: ['show'],
//  methods: {
//    close: function () {
//      this.$emit('close');
//    },
//    saveMovie: function () {
//      // Some save logic goes here...
//      
//      this.close();
//    }
//  }
//});
//
//new Vue({
//  el: '#app',
//  data: {
//    showModal: false
//  }
//});
</script>

<style>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    width: 300px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.text-right {
    text-align: right;
}

.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
